<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Conexão com o banco de dados -->
        <property name="connection.url">jdbc:mysql://192.168.200.6:3306/banco</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">aptech</property>
        <property name="connection.password">Aptech2016</property>
        <!-- Esquema de atualização das tabelas -->
        <property name="hbm2ddl.auto">update</property>
        <!-- Sessão -->
        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>
        <!-- Dialeto da sessão -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- Cache de segundo nivel -->
        <property name="hibernate.cache.provider_class">
            org.hibernate.cache.internal.NoCachingRegionFactory
        </property>
        <!-- Mostra as SQLs geradas -->
        <property name="show_sql">true</property>
        <!-- Mapeameno das Entidades -->
        <mapping class="br.com.nfsconsultoria.bancoibta.domain.contaCorrente"/>
        <mapping class="br.com.nfsconsultoria.bancoibta.domain.contaPoupanca"/>
    </session-factory>
</hibernate-configuration>